:root {

    --main-bg-color: #fff;
    --second-bg-color: #f5f5f5;
    --third-bg-color: #e3e3e3;
    --grey: #4b4b4b;
    --black: #000;
    --red: #dd3036;
    --top-header-size: 30px;
    --mid-header-size: 80px;
    --bottom-header-size: 45px;
    --btn-bg: #000;
    --btn-border-color: #000;
    --btn-color: #fff;


    --primary-color: #4834d4;
    --success-color: #6ab04c;
    --warning-color: #f0932b;
    --danger-color: #eb4d4b;
    --purle-color1: #4D2DB7;
    --purle-color2: #9D44C0;
    --purle-color3: #EC53B0;


    --light-color: #212529;
    --light-second-color: #727475;
    --light-background: #ffffff;
    --light-second-background: #f1f1f1;

    --dark-color: #909090;
    --dark-second-color: #f5f6fa;
    --dark-background: #23242D;
    --dark-second-background: #181818;
}

.light {
    --main-bg-color: var(--light-background);
    --second-bg-color: var(--light-second-background);
    --main-color: var(--light-color);
    --second-color: var(--light-second-color);
}

.dark {
    --main-bg-color: var(--dark-background);
    --second-bg-color: var(--dark-second-background);
    --main-color: var(--dark-color);
    --second-color: var(--dark-second-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    position: relative;
    background-color: var(--main-bg-color);
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

a {
    display: inline-block;
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.light .logo-dark, .light .light-icon {
    display: none;
}

.dark .logo-light, .dark .dark-icon {
    display: none;
}

.mid-header .user-menu #user-admin {
    padding-left: 100px;
    height: 50%;
}

.mid-header .user-menu #user-member {
    padding-left: 100px;
    height: 50%;
}

.bg-primary {
    background: var(--primary-color);
}

.bg-success {
    background: var(--success-color);
}

.bg-warning {
    background: var(--warning-color);
}

.bg-danger {
    background: var(--danger-color);
}

.bg-purple1 {
    background: var(--purle-color1);
}

.bg-purple2 {
    background: var(--purle-color2);
}

.bg-purple3 {
    background: var(--purle-color3);
}


* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--main-bg-color);
    color: var(--main-color);
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    background: var(--main-bg-color);
    color: var(--main-color);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.nav-link {
    float: left;
    text-align: center;
    padding: 21px 10px;
    text-decoration: none;
    font-size: 17px;
    color: var(--second-color);
    position: relative;
}

.nav-link:hover {
    cursor: pointer;
}

.navbar-nav i {
    font-size: 1.4rem;
}

.nav-right {
    margin-left: auto;
}

.navbar-search {
    position: relative;
    margin: auto;
    width: 50%;
}

.navbar-search input {
    background: var(--second-bg-color);
    border: none;
    padding: 12px 50px 12px 50px;
    width: 100%;
    outline: none;
    color: var(--main-color);
    border-radius: 20px;
}

.navbar-search i {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: var(--second-color);
    cursor: pointer;
}

.logo {
    height: 60px;
    padding: 10px;
}

.avt img {
    width: 39px;
    height: 39px;
    border-radius: 50%;
}

.avt {
    padding: 11px
}

.navbar-badge {
    font-size: .6rem;
    padding: 2px 4px;
    font-weight: 300;
    position: absolute;
    right: 5px;
    top: 9px;
    color: #fff;
    background: var(--danger-color);
    border-radius: 5px;
}

.dropdown {
    position: relative;
}

.dropdown:hover {
    cursor: pointer;
}

.dropdown-menu {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 20%;
    top: 90%;
    background: var(--main-bg-color);
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: unset;
    border-radius: 10px;
    border: 0.125px solid var(--second-bg-color);
}

.dropdown-expand {
    display: flex;
}

.notification-menu {
    min-width: 380px;
}

.dropdown-menu-content {
    max-height: 500px;
    overflow-y: auto;
}

.dropdown-menu-item {
    width: 100%;
}

.dropdown-menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: var(--main-color);
}

.dropdown-menu-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.dropdown-menu-link i {
    font-size: 1.25rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
    font-size: 15px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu-link span > span {
    font-size: 10px;
}

.dropdown-menu-link:hover {
    cursor: pointer;
    background: var(--second-bg-color);
}

.dropdown-menu-header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid var(--second-bg-color);
}

.dropdown-menu-footer {
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--second-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

.scrollbar-hover::-webkit-scrollbar {
    display: none;
}

.scrollbar-hover:hover::-webkit-scrollbar {
    display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10rem;
    border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

.wrapper {
    padding: 10px;
    margin-left: 82px;
    padding-top: 75px;
    background: var(--second-bg-color);
    transition: margin-left .5s;
}

.sidebar {
    width: 82px;
    height: 100vh;
    position: fixed;
    margin-top: 65px;
    background: var(--main-bg-color);
    box-shadow: rgba(0,0,0,0.12) 0px 1px 4px 1px;
    overflow: hidden;
    z-index: 100;
    transition: width .5s;
}

.sidebar:hover {
    width: 250px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.sidebar-nav-item {
    width: 100%;
}

.sidebar-nav-link {
    display: flex;
    align-items: center;
    color: var(--main-color);
    text-decoration: none;
    transform: translateY(50%);
    padding-bottom: 20px;
}

.sidebar-nav-link i {
    font-size: 1.5rem;
    color: var(--second-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.sidebar-nav-link div {
    min-width: 82px;
    height: 50px;
    position: relative;
}

.sidebar-nav-link:hover {
    background: var(--second-bg-color);
}

.sidebar-nav-link.active {
    background: var(--second-bg-color);
    color: var(--danger-color);
}

.sidebar-nav-link.active div {
    border-left: 5px solid var(--danger-color);
}

.sidebar-nav-link.active i {
    color: var(--danger-color);
    margin-left: -5px;
}

.sidebar-expand .sidebar {
    width: 250px;
}

.sidebar-expand .wrapper {
    margin-left: 250px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.row:after, .row:before {
    box-sizing: border-box;
}

[class*="col-"] {
    padding: 10px;
}

/* Extra small devices <= 600px */
@media only screen and (max-width: 600px) {
    .sidebar {
        width: 0;
    }
    .wrapper {
        margin-left: 0;
    }
    .sidebar-expand .wrapper {
        margin-left: 0;
    }
    .nav-right .nav-item {
        display: none;
    }
    .nav-right .mode, .nav-right .avt-wrapper {
        display: list-item;;
    }
    .navbar-search {
        display: none;
    }
    .dropdown-menu {
        max-width: 300px;
    }
    [class*="col-"] {
        width: 100%
    }
}

/* Small devices >= 600px */
@media only screen and (min-width: 600px) {
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* Medium devices >= 768px */
@media only screen and (min-width: 768px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

/* laptops/desktops >= 992px */
@media only screen and (min-width: 992px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* large laptops and desktops >= 1200px */
@media only screen and (min-width: 1200px) {
    .col-xl-1 {width: 8.33%;}
    .col-xl-2 {width: 16.66%;}
    .col-xl-3 {width: 25%;}
    .col-xl-4 {width: 33.33%;}
    .col-xl-5 {width: 41.66%;}
    .col-xl-6 {width: 50%;}
    .col-xl-7 {width: 58.33%;}
    .col-xl-8 {width: 66.66%;}
    .col-xl-9 {width: 75%;}
    .col-xl-10 {width: 83.33%;}
    .col-xl-11 {width: 91.66%;}
    .col-xl-12 {width: 100%;}
}

.counter {
    padding: 16px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.couner i {
    font-size: 50px;
}

.card {
    background: var(--main-bg-color);
    color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-header {
    padding: 15px 30px;
    border-bottom: 1px solid var(--second-bg-color);
    position: relative;
}

.card-header i {
    color: var(--main-color);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.card-header i:hover {
    cursor: pointer;
}

.card-header h3 {
    margin: 0;
}

.card-content {
    padding: 20px;
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td {
    border-top: 1px solid var(--second-bg-color);
    padding: 15px;
}

table th {
    border-top: 1px solid var(--second-bg-color);
    border-bottom: 1px solid var(--second-bg-color);
    padding: 15px 12px;
    text-align: left;
}

.dot i {
    display: inline-block;
    width: .385rem;
    height: .385rem;
    margin-right: .385rem;
    vertical-align: middle;
    border-radius: 50%;
}

.progress-wrapper {
    margin-bottom: 15px;
}

.float-right {
    float: right;
}

.progress {
    height: 10px;
    overflow: hidden;
    display: flex;
    font-size: .75rem;
    background: rgba(0,0,0,0.05);
    border-radius: .25rem;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

/*TÌm kiếm user  */

.subsection form {
    width: 300px;
    margin: 0 auto;
}

.subsection label {
    font-size: 14pt;
    cursor: pointer;
}

.subsection input {
    display: block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-size: 13pt;
    outline: 0;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid #000;
    border-radius: 20px;
    margin: 5px 0 20px 0;
}

.subsection input:focus {
    outline: none;
    border-bottom: 2px solid var(--red)
}

.subsection select {
    height: 30px;
    width: 173px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid #000;
    margin: 5px 0 20px 20px;
}

.subsection #imgadd {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.subsection button {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    color: #000;
    font-size: 14pt;
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    margin: 0 30px;
}

.subsection button:hover {
    border: 2px solid var(--red);
    color: var(--red);
}

/*Kết thúc user  */

.rightsection {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px 0;
}

.rightsection .subsection form {
    width: 300px;
    margin: 0 auto;
}

.rightsection .subsection label {
    font-size: 14pt;
    cursor: pointer;
}

.rightsection .subsection input {
    display: block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-size: 13pt;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid #000;
    margin: 5px 0 20px 0;
}

.rightsection .subsection input:focus {
    outline: none;
    border-bottom: 2px solid var(--red)
}

.rightsection .subsection select {
    height: 30px;
    width: 173px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid #000;
    margin: 5px 0 20px 20px;
}

.rightsection .subsection {
    width: 150px;
    margin: 0 auto;
    display: block;
}

.rightsection .subsection button {
    background-color: #fff;
    border: 2px solid #000;
    width: 80px;
    height: 30px;
    color: #000;
    font-size: 14pt;
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
}

.rightsection .subsection button:hover {
    border: 2px solid var(--red);
    color: var(--red);
}


#content{
    width: 150%;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#content #leftsection{
    width: 65%;
    /*padding: 40px 40px 0px;*/
}
#content #leftsection #maintable{
    width: 100%;
    min-height: 830px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
    padding: 30px 50px 10px;
    overflow-x: auto;
}
#content #leftsection #maintable h1{
    text-align: center;
    margin-bottom: 20px;
}
#content #leftsection #maintable table,th,td{
    border: 1px solid rgba(0,0,0,0.4);
}
#content #leftsection #maintable table{
    width: 100%;
    border-collapse: collapse;
}
#content #leftsection #maintable table#billlist tr:not(:first-child){
    cursor: pointer;
}
#content #leftsection #maintable table#billlist tr:not(:first-child):hover{
    background-color: #ced6e0;
}
#content #leftsection #maintable th{
    background-color: var(--red);
    color: white;
    height: 35px;
    padding: 0 5px;
}
#content #leftsection #maintable td{
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
}
#content #leftsection #maintable img{
    height: 60px;
    margin: 5px;
}
#content #leftsection #maintable td:last-child{
    text-align: center;
}
#content #leftsection #maintable td .delete{
    background-color: #c0392b;
    font-size: 18pt;
    color: #fff;
    cursor: pointer;
    width: 45px;
    margin: 0px auto;
    height: 20px;
    line-height: 22px;
    outline: none;
    vertical-align: middle;
    display: block;
}
#content #leftsection #maintable td .change{
    background-color: #2980b9;
    font-size: 12pt;
    color: #fff;
    cursor: pointer;
    padding: 0 5px;
    margin: 5px auto 0;
    height: 20px;
    width: 45px;
    line-height: 22px;
    outline: none;
    vertical-align: middle;
    display: block;
}
#content #leftsection #maintable #pagination{
    margin-top: 20px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
}
#content #leftsection #maintable #pagination .pageNumber{
    width: 25px;
    height: 25px;
    background-color: var(--red);
    border: 2px solid var(--third-bg-color);
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
#content #leftsection #maintable #pagination .pageNumber:hover{
    background-color: #fff;
    color: #ff4700;
}
#content #rightsection{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 0px;
}
#content #rightsection .subsection{
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    margin-bottom: 40px;
    padding: 20px 50px;
}
#content #rightsection .subsection h1{
    text-align: center;
    margin-bottom: 20px;
}
#content #rightsection .subsection form{
    width: 300px;
    margin: 0 auto;
}
#content #rightsection .subsection label{
    font-size: 14pt;
    cursor: pointer;
}
#content #rightsection .subsection input{
    display: block;
    width: 300px;
    height: 30px;
    line-height: 30px;
    font-size: 13pt;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: 2px solid #000;
    margin: 5px 0 20px 0px;
}
#content #rightsection .subsection input:focus{
    outline: none;
    border-bottom: 2px solid #ff4700
}
#content #rightsection .subsection select{
    height: 30px;
    width: 173px;
    border: 1px solid rgba(0,0,0,.2);
    border-bottom: 2px solid #000;
    margin: 5px 0 20px 20px;
}
#content #rightsection .subsection #imgadd{
    width: 150px;
    margin: 0 auto;
    display: block;
}
#content #rightsection .subsection button{
    background-color: #fff;
    border: 2px solid #000;
    width: 80px;
    height: 30px;
    color: #000;
    font-size: 14pt;
    cursor: pointer;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.3);
}
#content #rightsection .subsection button:hover{
    border: 2px solid #ff4700;
    color: #ff4700;
}
/*END Quản lí đơn hàng*/
.modal{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	z-index: 10;
}
#modal1 #changeproduct{
	width: 60%;
	height: auto;
	background-color: #fff;
	margin: 50px auto;
	position: relative;
	padding: 10px;
	animation: topdown 0.5s;
}
#modal1 #changeproduct .close{
	position: absolute;
	right: 15px;
	top: 0px;
	font-size: 40pt;
	background: none;
	outline: none;
	cursor: pointer;
}
#modal1 #changeproduct .close:hover{
	color: #ff4700;
}
#modal1 #changeproduct .image{
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
#modal1 #changeproduct .image img{
	width: 40%;
	padding: 20px;
	border:  1px solid #000;
	border-radius: 10px;
}
#modal1 #changeproduct .info{
	width: 700px;
	margin: 50px auto 0;
}
#modal1 #changeproduct .info label{
	width: 200px;
	font-size: 14pt;
	font-weight: bold;
	display: inline-block;
	margin-bottom: 10px;
}
#modal1 #changeproduct .info input{
	font-size: 13pt;
	width: 400px;
	border-bottom: 2px solid #000;
	margin-bottom: 10px;
}
#modal1 #changeproduct .info #fileimg{
	font-size: 13pt;
	width: 400px;
	border: 2px solid #000;
	margin-left: 202px;
	cursor: pointer;
}
#modal1 #changeproduct button#save{
	font-size: 16pt;
	width: 200px;
	padding: 10px;
	margin: 30px auto;
	border: 3px solid #ff4700;
	background-color: var(--red);
	color: #fff;
	display: block;
	cursor: pointer;
}
#modal1 #changeproduct button#save:hover{
	background-color: #fff;
	color: #ff4700;
}
#modal1 #info{
	width: 600px;
	height: 700px;
	background-color: #fff;
	margin: 70px auto;
	position: relative;
	padding: 6px;
}
#modal1 #info .close{
	position: absolute;
	right: 2px;
	top: 0px;
	font-size: 30pt;
	background: none;
	outline: none;
	cursor: pointer;
}
#modal1 #info h4{
	/*font-size: 14pt;*/
	margin-top: 20px;
}
#modal1 #info p{
	font-size: 12pt;
	margin-top: 5px;
}
#modal1 #info #status{
	display: inline-block;
	font-size: 14pt;
	height: 34px;
	line-height: 34px;
	width: 200px;
}
#modal1 #info label{
	margin-left: 50px;
	cursor: pointer;
	display: inline-block;
  	height: 34px;
  	position: relative;
 	width: 60px;
 	vertical-align: middle;
}
#modal1 #info label input{
	display: none;
}
#modal1 #info label .slider {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	cursor: pointer;
	position: absolute;
	transition: 0.4s;
	border-radius: 999px;
}
#modal1 #info label .slider:before {
	content: "";
	background-color: #fff;
	height: 26px;
	bottom: 4px;
	left: 4px;
	position: absolute;
	transition: 0.4s;
	width: 26px;
	border-radius: 999px;
}
#modal1 #info label input:checked + .slider {
  	background-color: #ff4700;
}

#modal1 #info label input:checked + .slider:before {
  	left: 30px;
}
#modal1 #info .printbtn{
	width: 100px;
	background-color: #000;
	color: #fff;
	height: 25px;
	border: 2px solid #000;
	line-height: 25px;
	margin-top: 10px;
	cursor: pointer;
}
#modal1 #info .printbtn:hover{
	background-color: #fff;
	color: #000;
}